body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(8, 8, 226);
  padding: 25px;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}
.card {
  background-color: rgb(56, 58, 120);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 10px;
  border: 5px solid white;
  border-radius: 161px 161px 161px 161px;
  -webkit-border-radius: 161px 161px 161px 161px;
  -moz-border-radius: 161px 161px 161px 161px;
  align-self: hover;

}
.card-image {
  height: 100px;
  width: 100px;
  
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}




